@import '../../../styles.scss';

.projet-card {
  border: solid 1px #6c757d;
  border-radius: 10px;
  margin-bottom: 19px;
  flex-grow: 1;
}

.projet-card:hover {
  background: linear-gradient(to right, black, #6c757d);
}

.mission-list {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 10px;
}

.mission-list li {
  margin-bottom: 8px;
}

p, h5, a, li {
  margin: 0px;
  font-family: 'Inter', sans-serif;
}

.card-h {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h5 {
    font-weight: bold;
  }
}

.project-link {
  color: #00d1ff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.project-link:hover {
  color: #4dcaff;
}
