<div class="container">
  <div>
    <p class="title text-center mb-4">Projets</p>
  </div>
  <div class="row d-flex justify-content-center">
    <!-- Project 1 -->
    <div class="container projet-card py-2 col-md-5 col-sm-10 mx-2" data-aos="zoom-out">
      <div class="card-h py-2 d-flex justify-content-between align-items-center">
        <h5>Application de restauration</h5>
        <a href="https://dev.partners.foozzaa.com" class="project-link d-flex align-items-center" target="_blank">
          <fa-icon [icon]="faLink"></fa-icon>
        </a>
      </div>
      <hr style="border-color: #6c757d; border-width: 2px;">
      <div>
        <p>
          J’ai la charge de développer des fonctionnalités pour différentes couches d’une application de restauration, côté client.
        </p>
        <ul class="mission-list">
          <li>Analyse fonctionnelle et technique</li>
          <li>Développement backend et frontend</li>
          <li>Revue de code</li>
          <li>Documentation des fonctionnalités mises en place</li>
          <li>Utilisation de l’outil Trello pour le suivi des tâches</li>
        </ul>
      </div>
      <hr style="border-color: #6c757d; border-width: 2px;">
      <div class="d-flex justify-content-around flex-wrap">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/MongoDB_Logo.svg" alt="mongodb"
        style="width: 120px;">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/64/Expressjs.png" alt="mongodb"
        style="width: 120px;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg" alt="angular"
          style="width: 70px;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg" alt="nodejs"
          style="width: 70px;">
      </div>
    </div>

    <!-- Project 2 -->
    <div class="container projet-card py-2 col-md-5 col-sm-10 mx-2" data-aos="zoom-out">
      <div class="card-h py-2 d-flex justify-content-between align-items-center">
        <h5>Application de restauration</h5>
        <a href="https://dev.customers.foozzaa.com" class="project-link d-flex align-items-center" target="_blank">
          <fa-icon [icon]="faLink"></fa-icon>
        </a>
      </div>
      <hr style="border-color: #6c757d; border-width: 2px;">
      <div>
        <p>
          J’ai la charge de développer des fonctionnalités pour différentes couches d’une application de restauration, côté restaurateurs.
        </p>
        <ul class="mission-list">
          <li>Analyse fonctionnelle et technique</li>
          <li>Développement backend et frontend</li>
          <li>Revue de code</li>
          <li>Documentation des fonctionnalités mises en place</li>
          <li>Utilisation de l’outil Trello pour le suivi des tâches</li>
        </ul>
      </div>
      <hr style="border-color: #6c757d; border-width: 2px;">
      <div class="d-flex justify-content-around flex-wrap">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/MongoDB_Logo.svg" alt="mongodb"
        style="width: 120px;">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/64/Expressjs.png" alt="mongodb"
        style="width: 120px;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg" alt="angular"
          style="width: 70px;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg" alt="nodejs"
          style="width: 70px;">
      </div>
    </div>

    <!-- Project 3 -->
    <div class="container projet-card py-2 col-md-5 col-sm-10 mx-2" data-aos="zoom-in-right">
      <div class="card-h py-2 d-flex justify-content-between align-items-center">
        <h5>Application web de PayQin</h5>
        <a href="https://payqin.com" class="project-link d-flex align-items-center" target="_blank">
          <fa-icon [icon]="faLink"></fa-icon>
        </a>
      </div>
      <hr style="border-color: #6c757d; border-width: 2px;">
      <div>
        <p>
          J’ai la charge de développer de nouvelles fonctionnalités et de maintenir les solutions existantes.
        </p>
        <ul class="mission-list">
          <li>Analyse fonctionnelle et technique</li>
          <li>Ajout de nouvelles fonctionnalités frontend et backend</li>
          <li>Mise à jour de tout le processus d’inscription et d’authentification</li>
          <li>Utilisation de Jira pour le suivi des tâches</li>
          <li>Revue de code</li>
        </ul>
      </div>
      <hr style="border-color: #6c757d; border-width: 2px;">
      <div class="d-flex justify-content-around flex-wrap">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/MongoDB_Logo.svg" alt="mongodb"
        style="width: 120px;">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/64/Expressjs.png" alt="mongodb"
        style="width: 120px;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg" alt="angular"
          style="width: 70px;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg" alt="nodejs"
          style="width: 70px;">
      </div>
    </div>

    <!-- Project 4 -->
    <div class="container projet-card py-2 col-md-5 col-sm-10 mx-2" data-aos="zoom-in-left">
      <div class="card-h py-2 d-flex justify-content-between align-items-center">
        <h5>Paiement de Tickets pour un Événement</h5>
        <a href="https://jaedshow.netlify.app/" class="project-link d-flex align-items-center" target="_blank">
          <fa-icon [icon]="faLink"></fa-icon>
        </a>
      </div>
      <hr style="border-color: #6c757d; border-width: 2px;">
      <div>
        <p>
          Développement d’une plateforme permettant aux utilisateurs d’acheter et de payer leurs tickets pour un événement en toute sécurité.
        </p>
        <ul class="project-list">
          <li>Analyse des besoins et rédaction des spécifications fonctionnelles</li>
          <li>Conception et développement du frontend pour l’achat de tickets</li>
          <li>Intégration d’un système de paiement sécurisé</li>
          <li>Développement backend de la plateforme</li>
          <li>Tests et déploiement de la plateforme</li>
        </ul>
      </div>
      <hr style="border-color: #6c757d; border-width: 2px;">
      <div class="d-flex justify-content-around flex-wrap">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/MongoDB_Logo.svg" alt="mongodb"
          style="width: 120px;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/64/Expressjs.png" alt="mongodb"
          style="width: 120px;">
          <img src="https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg" alt="react"
          style="width: 70px;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg" alt="nodejs"
          style="width: 70px;">
      </div>
    </div>
  </div>
</div>
