<div class="container">
  <div>
    <p class="title text-center mb-4">Projets</p>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="container projet-card py-2 col-5 mx-2">
      <div class="card-h py-2">
        <h5>Site web</h5>
        <a>click</a>
      </div>
      <hr style="border-color: #6c757d; border-width: 2px;">
      <div>
        <p>
          J’ai la charge de développer des fonctionnalités pour différentes couches d’une application de restauration
          que sont <strong>customers</strong>, <strong>partners</strong> et <strong>admin</strong>.
        </p>
        <ul class="mission-list">
          <li>Analyse fonctionnelle et technique</li>
          <li>Développement backend et frontend</li>
          <li>Revue de code</li>
          <li>Documentation des fonctionnalités mises en place</li>
          <li>Utilisation de l’outil Trello pour le suivi des tâches</li>
        </ul>
      </div>
      <hr style="border-color: #6c757d; border-width: 2px;">
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg" alt="angular"
          style="width: 50px;">
      </div>
    </div>
    <div class="container projet-card py-2 col-5 mx-2">
      <div class="card-h py-2">
        <h5>Site web</h5>
        <a>click</a>
      </div>
      <hr style="border-color: #6c757d; border-width: 2px;">
      <div>
        <p>
          J’ai la charge de développer des fonctionnalités pour différentes couches d’une application de restauration
          que sont <strong>customers</strong>, <strong>partners</strong> et <strong>admin</strong>.
        </p>
        <ul class="mission-list">
          <li>Analyse fonctionnelle et technique</li>
          <li>Développement backend et frontend</li>
          <li>Revue de code</li>
          <li>Documentation des fonctionnalités mises en place</li>
          <li>Utilisation de l’outil Trello pour le suivi des tâches</li>
        </ul>
      </div>
      <hr style="border-color: #6c757d; border-width: 2px;">
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg" alt="angular"
          style="width: 50px;">
      </div>
    </div>
    <div class="container projet-card py-2 col-5 mx-2">
      <div class="card-h py-2">
        <h5>Site web</h5>
        <a>click</a>
      </div>
      <hr style="border-color: #6c757d; border-width: 2px;">
      <div>
        <p>
          J’ai la charge de développer de nouvelles fonctionnalités et de maintenir les solutions existantes.
        </p>
        <ul class="mission-list">
          <li>Analyse fonctionnelle et technique</li>
          <li>Ajout de nouvelles fonctionnalités frontend et backend</li>
          <li>Mise à jour de tout le processus d’inscription et d’authentification</li>
          <li>Utilisation de Jira pour le suivi des tâches</li>
          <li>Revue de code</li>
        </ul>
      </div>
      <hr style="border-color: #6c757d; border-width: 2px;">
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg" alt="angular"
          style="width: 50px;">
      </div>
    </div>
    <div class="container projet-card py-2 col-5 mx-2">
      <div class="card-h py-2">
        <h5>Paiement de Tickets pour un Événement</h5>
        <a>click</a>
      </div>
      <hr style="border-color: #6c757d; border-width: 2px;">
      <div>
        <p>
          Développement d’une plateforme permettant aux utilisateurs d’acheter et de payer leurs tickets pour un
          événement en toute sécurité.
        </p>
        <ul class="project-list">
          <li>Analyse des besoins et rédaction des spécifications fonctionnelles</li>
          <li>Conception et développement du frontend pour l’achat de tickets</li>
          <li>Intégration d’un système de paiement sécurisé</li>
          <li>Développement backend pour la gestion des réservations et des utilisateurs</li>
          <li>Mise en place de notifications par email pour confirmer les paiements</li>
          <li>Tests et déploiement de la plateforme</li>
        </ul>
      </div>
      <hr style="border-color: #6c757d; border-width: 2px;">
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg" alt="angular"
          style="width: 50px;">
      </div>
    </div>
  </div>
</div>
