<div class="container">
  <div>
    <p class="title text-center mb-4">Experiences</p>
  </div>

  <!-- First Project Card (Left aligned) -->
  <div class="row mb-4">
    <div class="projet-card p-3 col-md-6" data-aos="fade-left">
      <div class="card-h py-2 d-flex justify-content-between align-items-center">
        <h5>Développeur Full-Stack, <span>Yoomi solution</span></h5>
      </div>
      <hr style="border-color: #6c757d; border-width: 2px;">
      <div>
        <ul class="mission-list">
          <li>Développement du frontend d'une application de restauration</li>
          <li>Développement de l'API de cette application</li>
        </ul>
      </div>
      <hr style="border-color: #6c757d; border-width: 2px;">
      <div class="d-flex justify-content-around">
        07/2023 - Présent
      </div>
    </div>
  </div>

  <!-- Second Project Card (Right aligned) -->
  <div class="row mb-4">
    <div class="projet-card p-3 col-md-6 offset-md-6" data-aos="fade-right">
      <div class="card-h py-2 d-flex justify-content-between align-items-center">
        <h5>Développeur Full-Stack, <span>PayQin</span></h5>
      </div>
      <hr style="border-color: #6c757d; border-width: 2px;">
      <div>
        <ul class="mission-list">
          <li>Mise à jour de l'application web et du dashboard admin</li>
          <li>Mise à jour de l'API</li>
        </ul>
      </div>
      <hr style="border-color: #6c757d; border-width: 2px;">
      <div class="d-flex justify-content-around">
        02/2024 - 07/2024
      </div>
    </div>
  </div>

  <!-- Third Project Card (Left aligned) -->
  <div class="row mb-4">
    <div class="projet-card p-3 col-md-6" data-aos="fade-left">
      <div class="card-h py-2 d-flex justify-content-between align-items-center">
        <h5>Développeur Full-Stack, <span>Cabinet Offset Consulting</span></h5>
      </div>
      <hr style="border-color: #6c757d; border-width: 2px;">
      <div>
        <ul class="mission-list">
          <li>Développement d'une application de gestion de mutuelle</li>
        </ul>
      </div>
      <hr style="border-color: #6c757d; border-width: 2px;">
      <div class="d-flex justify-content-around">
        04/2022 - 05/2022
      </div>
    </div>
  </div>
</div>
