@import '../../../styles.scss';

.layout {
  background-color: #121212;
  flex-grow: 1;
  color: white;
  font-family: 'Inter', sans-serif;
}

.main-container {
  height: 100%;
}

.menu {
  background-color: #121212;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.menu a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: white;
  font-family: 'Inter', sans-serif;
}

.menu div{
  cursor: pointer;
}

.menu div:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
}
