<div class="main-container d-flex flex-column">
  <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" routerLink="/">N'DOUFFOU MANDA N.</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/projects">Projets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/experiences">Expériences</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/resume">Résumé</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="layout">
    <router-outlet></router-outlet>
  </div>
</div>
