<div class="main-container">
  <div class="menu d-flex justify-content-center">
    <div class="py-3 px-4">
      <a routerLink="/">N'DOUFFOU MANDA N.</a>
    </div>
    <div class="py-3 px-4">
      <a routerLink="/skills">Skills</a>
    </div>
    <div class="py-3 px-4">
      <a routerLink="/projects">Projects</a>
    </div>
    <div class="py-3 px-4">
      <a routerLink="/experiences">Experiences</a>
    </div>
    <div class="py-3 px-4">
      <a routerLink="/educations">Educations</a>
    </div>
    <div class="py-3 px-4">
      <a routerLink="/resume">Resume</a>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
