<div class="main-container d-flex flex-column vh-100">
  <div class="menu d-flex justify-content-center">
    <div class="py-3 px-4"  routerLink="/">
      <a>N'DOUFFOU MANDA N.</a>
    </div>
    <div class="py-3 px-4" routerLink="/skills">
      <a>Skills</a>
    </div>
    <div class="py-3 px-4" routerLink="/projects">
      <a>Projets</a>
    </div>
    <div class="py-3 px-4" routerLink="/experiences">
      <a>Expériences</a>
    </div>
    <div class="py-3 px-4" routerLink="/resume">
      <a>Résumé</a>
    </div>
  </div>
  <div class="layout">
    <router-outlet></router-outlet>
  </div>
</div>
