/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.title{
  font-weight: 900;
  font-size:70px;
  line-height: normal;
  margin-top: 50px;
}
