<div class="d-flex flex-row align-items-center justify-content-center vh-100">
  <div class="col-7">
    <p class="name">N'DOUFOU MANDA NAZAIRE,</p>
    <p>Passionné par la conception et la mise en place d'applications innovantes,
      je suis toujours à la recherche de nouvelles opportunités afin de renforcer
      mes compétences et participer à des projets ambitieux. En tant que personne
      polyvalente, rigoureuse et créative, je suis déterminé à trouver des solutions
      efficaces aux problèmes techniques complexes.
    </p>
  </div>
  <div class="col-3">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/64/Expressjs.png" class="d-block w-100"
            alt="Express.js Logo">
        </div>
        <div class="carousel-item active">
          <img src="https://angular.io/assets/images/logos/angular/angular.svg" class="d-block w-100"
            alt="Angular Logo">
        </div>
        <div class="carousel-item">
          <img src="https://git-scm.com/images/logos/downloads/Git-Icon-1788C.svg" class="d-block w-100" alt="Git Logo">
        </div>
        <div class="carousel-item">
          <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/MongoDB_Logo.svg" class="d-block w-100"
            alt="MongoDB Logo">
        </div>
        <div class="carousel-item">
          <img src="https://nodejs.org/static/images/logo.svg" class="d-block w-100" alt="Node.js Logo">
        </div>
        <div class="carousel-item">
          <img src="https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg" class="d-block w-100"
            alt="React Logo">
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
